[2017-07-19 11:42] ishanivardhan opened #3 "Implement Nightingale header and navigation in Moodle"
The header and navigation needs to be made Nightingale based in Moodle. Some major layout and template restructuring might be required.

[2017-08-11 14:11] ishanivardhan opened #6 "Profile in Header Nav"
The "Profile" nav item would be a button in Moodle's header which when opened would act as sub-nav to show only list items. It also may have red dot on it based on unread Messages inside it.
What would it look like when "Messages", an item under Profile which in itself can act as a min sub-nav is undecided until we have more designs from @Pro-Paul

Desktop design for Profile so far:
![screen shot

[2017-08-11 16:37] ishanivardhan opened #7 "Moodle Dashboard"
Need to decide what Dashboard page should look like. Moodle has two pages

- Home
Intro text & Images, listing of Available courses & Site news (if Any)

- Dashboard
User specific showing courses that he / she enrolled in; Course related student activity etc.

We can look at examples from SeaLoc VC, Vanilla Moodle 3.3 & Anderson/Bevan to see what existing Home page/Dashboard looks like to decide o

[2017-08-11 17:15] ishanivardhan opened #8 "Programme Listing Page"
For Moodle's 3.3 version the course index page is laid out in two columns.
Left column with index contents & right columns with any blocks (plugin related) added.

This index page has all topics/sections with sub chapters/content in it. The content is represented by it's activity or resource symbol & title.

We need to see if the blocks should remain as is, should we keep "Edit" mode on always, ch

[2017-08-14 11:14] ishanivardhan opened #9 "Programme View Page"
Individual Course View Page has the main content in it.

Depending upon the nature of the content, it could be text, image, video, quiz, journal entry, forum etc. We would also show 'Previous/Next/Mark Complete' buttons via navbuttons plugin that will need styling.

Types of activities that we need to style in individual course view pages:
- Video with or without text
- Text with or without image

[2017-08-14 11:16] ishanivardhan opened #10 "Login page"
Login & Forgot password page just needs a visit to see how existing Nightingale elements & components can be used to style the page

cc: @cehwitham

[2017-08-14 12:08] ishanivardhan opened #13 "User Profile Individual page"
The each individual user profile page, the URL for which looks like this on my local http://localhost/staging_dev/user/profile.php?id=23

This page can be found from clicking "Profile" from Top Nav OR clicking on any User from User list site wide.

cc: @cehwitham

[2017-08-14 15:55] ishanivardhan opened #14 "Moodle Forums"
Issue to track progress on Moodle Forums design & development.

Cue to existing Forum structure could be either from Anderson/Bevan OR any SeaLoc VC.

More to follow...

cc: @cehwitham

[2017-08-14 15:59] ishanivardhan opened #15 "Moodle Messages"
Issue to decide whether or not to include Message in Profile Sub Nav.

If yes, then need to discuss design & user-experience aspects and things like do we show indication of new/unread Messages with a number (in red) on top & should that Messages menu item open as a sub-nav in itself or simply be a clickable link to take to a new page?

cc: @cehwitham

[2017-08-16 10:12] ishanivardhan commented on #3
@Pro-Paul , @cehwitham - Can we keep Header & Navigation as one of the top priority items as well since Paul had done some designs & I had already started working on it? Would be good to finish & close that.

[2017-08-16 10:23] cehwitham commented on #3
This is technically above the others as it is "Doing" not "ToDo"?

[2017-08-16 10:40] ishanivardhan commented on #3
Yes just thought will bring it up for both of you, especially @Pro-Paul so he can modify designs as per our latest discussions & finalise them in Abstract!

[2017-08-16 17:31] ishanivardhan commented on #3
@cehwitham - Not sure if we need to get Harry to build the blue header from Paul's designs made in Abstract. Also there is no such button type as the "profile" one that I could find in latest Nightingale styles?

[2017-08-16 17:35] ishanivardhan opened #18 "Rename theme references"
As per discussion with @jdbrew it was decided that we need a more generic, identifiable name for Moodle theme that resonates with the wider world.

So the outer GH folder would be renamed to moodle-theme_nightingale and the actual theme would be called theme_nightingale changing all references int he code.

[2017-08-18 12:47] ishanivardhan opened #20 "Moodle Edit Mode"
Edit related links & other info seen when "Turn Editing On" is ON for a Site Admin!

cc: @cehwitham

[2017-08-18 13:22] ishanivardhan opened #21 "test issue"

[2017-08-18 15:14] ishanivardhan commented on #6
We have made it so the sub-nav under Profile no longer exists and it's a button instead which when clicked takes to the Profile page which pretty much has all the links that used to be under sub-nav.

Log Out was the only button/link not present which is made as a nav button next to Profile button.

All this being pursued as part of [tkt-00003](https://github.com/NHSLeadership/moodle-theme_nightin

[2017-08-18 15:21] #18 closed, assigned to ishanivardhan

[2017-08-18 15:22] #21 closed, assigned to nobody

[2017-08-21 22:45] cehwitham commented on #6
If this is a duplicate @ishanivardhan can we remove priority.

Status: Won't Fix / Type: Duplicate.

[2017-08-22 08:20] Pro-Paul commented on #13
This was not an agreed feature to be released in v1 from our original meeting.

[2017-08-22 08:30] ishanivardhan commented on #13
@Pro-Paul - It's the page when you click on User Profile button. Admins use it when they want to log in as some one and Participants themselves use it when required.

The meeting may not have discussed all the possible pages but if this page is a result of something the user gets on clicking the components we are designing as part of v1.0.0 (For instance the header profile button), then I'm not su

[2017-08-22 08:49] penpadstudio commented on #13
For those in confusion. I deleted my previous comment that the issue was created after the v1 milestone creations. @cehwitham  has stated that this will be added into v.1.

[2017-08-22 09:37] ishanivardhan commented on #3
@cehwitham - Normal participants or non admins would see "Contact" as one of the menu items instead of "Site Admin". Any thoughts on where this link should go to? External site?
(Just so I know, what href value would go in)

[2017-08-22 09:59] cehwitham commented on #13
@ishanivardhan I think this probably falls under some of the default styling we were talking about. Once we've got the basic content/sidebar column setup and default typography in place, I think a lot of these pages will start to look pretty reasonable.

[2017-08-22 10:52] cehwitham commented on #3
(Just so I know, what href value would go in)

Probably a question for @TobiasReece

[2017-08-22 11:02] penpadstudio commented on #3
I would suggest external link to corp site for now, or a support contact page. Ideally we could have a page replicated from the external site internally on Moodle so not to unnecessarily re-direct the user, but its debateable.

[2017-08-22 12:07] TobiasReece commented on #3
I think the contact page should just be a brief info page with support number and email. I agree with Paul that this shouldn't unnecessarily re-direct the user. Also, if its on Seacole (for eg) we should see a separate email address to Anderson (for eg)

[2017-08-23 17:28] ishanivardhan commented on #3
1. Most of the Header is done. Navigation dropdown links are all dynamic with access to all courses. When clicked on any Course, it would either ask for Enrolment key or show the Listing page if already enrolled.

2. An additional setting **Contact page URL** is added that's configurable from the Theme backend. It can contain Moodle or external page link

3. Button, alignment styles are tweaked, n

[2017-08-29 10:28] ishanivardhan opened #24 "Header Adjustments and other fixes"
This issue is to revisit the Header buttons & alignment once Harry finishes merging his work in.

cc: @cehwitham , @Pro-Paul

[2017-08-30 11:37] ishanivardhan opened #25 "Moodle Breadcrumbs"
The breadcrumbs in Moodle need to resemble Nightingale structure.

The idea is to modify the markup in our theme to use Nightingale classes OR make a copy/child of core file/function to change markup OR use middleware CSS to apply Nightingale styling.

cc: @cehwitham , @Pro-Paul

[2017-08-30 16:15] #6 closed

[2017-09-04 14:40] ishanivardhan commented on #24
Also need to fix margin below header.

[2017-09-07 14:46] #25 closed, assigned to ishanivardhan

[2017-09-07 14:46] #3 closed

[2017-09-11 13:24] chriscoffee opened #27 "Repository naming strategy"
We're currently installing this plugin using composer with composer/installers. This references the `"type": "moodle-theme",` within the composer.json file and installs it into `/themes/`

However, due to the name of the repository it installs the repository as `/themes/theme_nightingale`. This is a problem due to how the name of the theme has been hardcoded. The theme is looking for the folder na

[2017-09-18 10:40] penpadstudio commented on #7
https://share.goabstract.com/f04025b9-3fb3-40e9-8207-7b9ee57b073a

Dashboard designed, will discuss further with @ishanivardhan.

[2017-09-18 11:02] ishanivardhan commented on #14
@Pro-Paul - The forum page design wrt subscription part needs to be discussed & incorporated, if not present already.

[2017-09-18 15:28] ishanivardhan commented on #7
I think it would be advisable to have @TobiasReece or @adamref or even yourself @cehwitham  give us some screenshots of what items a Dashboard can or should particularly contain so @Pro-Paul 's design can cover more of those elements and we don't miss out on core Moodle functionality.

(Ex: If we check Essex VC and login as one of the participants to view their Dashboard it show us the pending Jou

[2017-09-18 15:40] ishanivardhan opened #28 "Forum Forms"
In order to not clog "[Moodle Forums](https://github.com/NHSLeadership/moodle-theme_nightingale/issues/14)" Issue with lots of commits, breaking down any Forum related forms that needs styling when we click on links from a Post, like 'Edit, Split, Delete, Reply'.

A screenshot as requested by @Pro-Paul for what "Edit" form with greyed-out fields looks like in default Moodle 3.3 is below:
![screen

[2017-09-19 13:43] ishanivardhan opened #29 "Forum Delete Functionality"
As per @Pro-Paul 's design, "deleting" a post or thread response from Forum shouldn't redirect user to new page as is currently but instead throw a modal pop-up to get their confirmation and delete it straightaway if the user confirms.

This needs to be pursued in next version of Moodle-Nightingale theme as it involves some back-end work to be done along with front-end changes.

cc: @cehwitham

[2017-09-19 15:51] ishanivardhan opened #30 "Forum Search button"
Once we have the "Search text with button" component ready from Nightingale, this needs to be merged in Moodle

cc: @Pro-Paul , @cehwitham

[2017-09-19 16:39] penpadstudio commented on #29
re- designed to a delete page:
https://share.goabstract.com/f04025b9-3fb3-40e9-8207-7b9ee57b073a

[2017-10-02 16:09] ishanivardhan opened #33 "Check if we can have User specific theme switched on?"
Need to see if there is a way Users (or even just Admins) can select their own theme preference only visible to them.

This way for any Admin work that Adam finds it difficult to do with Moodle-Nightingale's v1.0 can be done easily by switching to Boost/Clean theme just for his profile without changing it across the site.

cc: @cehwitham , @Pro-Paul

[2017-10-02 16:40] ishanivardhan opened #34 "Home page"
Based on recent discussions, we do need a home page which users will land on to as soon as they login. We'll be following the current Moodle structure with few teaks:

**Left column**
- Title
- Intro
- Course Card blocks

 **Right Column**
- How's your System block

Main Menu block & Site News to be hidden/removed. Any static pages to be created off "base" Moodle installation.

cc: @Pro-Paul.  @ce

[2017-10-02 16:43] ishanivardhan opened #35 "Check if Learning plans can be switched off User Profile"
As the title suggests, we need to find out if "Learning Plans" link from user profile can be switched off OR not to keep User Profile area bare minimum from Participant point of view.

cc: @Pro-Paul , @cehwitham

[2017-10-02 16:49] ishanivardhan opened #36 "Hide Forum Admin links from Participant view"
The Forum Admin links, namely "Optional Subscription" & "Subscribe to this Forum" in case of Participants needs to be hidden/removed.

As based on today's discussions, they have the ability to subscribe to each post individually through "Subscribe" links & "dots" next to each post and don't need ability to Subscribe to entire forum for v1.

cc: @Pro-Paul
@cehwitham: Pls assign priority when you ca

[2017-10-02 16:56] ishanivardhan opened #37 "Check if we can hide/configure Forum listing columns"
On each forum listing page, we have columns namely

Discussion | Started by | Group | Replies | Last post

Need to check if there is anyway we can configure these columns to add or remove them from the display easily.

cc: @Pro-Paul, @cehwitham

[2017-10-02 17:03] ishanivardhan opened #38 "Can Course & Module listing page be combined as one?"
Currently in the Moodle theme we have, the Course Index page that lists all Modules/sections first and clicking on any of the modules or section opens it's contents index page.

@Pro-Paul 's design proposes to combine this such that on Course index page, we always see all the Modules/sections expandable with their content elements (activities/resources) without having to click through another page

[2017-10-02 17:09] ishanivardhan commented on #8
As per recent discussions, the right block on Course listing page will consist of

- All Course specific Forums
- Search Forums Box
- Completion Progress
- Latest Announcements
- Any other plugin

We need to try & combine Module listing & activity/resources listing within modules combined on single page as expandable-collapsible but if not possible, style existing Moodle architecture for Course Li

[2017-10-02 17:11] ishanivardhan opened #39 "Breadcrumb links edit"
Current breadcrumbs need small tweak, such that all non-active breadcrumb links should be underlined & the active link/page the user is on shouldn't be.

cc: @Pro-Paul
@cehwitham - This is probably low priority but leave you to assign it. Thanks!

[2017-10-02 17:13] ishanivardhan opened #40 "Cookie Ribbon"
The Cookie ribbon will be on the login page and once closed by the user shouldn't re-appear in that session.

cc: @Pro-Paul
@cehwitham - Again, a low priority one.

[2017-10-02 17:15] ishanivardhan commented on #7
As per discussions with @Pro-Paul & @cehwitham - keeping impending research with use of Dashboard by participants & Facilitators in mind we are simply skinning the existing Dashboard page with Nightingale designs rather than completely changing it.

[2017-10-02 17:18] ishanivardhan commented on #13
@cehwitham - I think we have now come to a point where we have the 2-column layout/sidebar sorted and based on recent discussions wrt design, it would still be best if @Pro-Paul can nip a quick design to piece together what's already there under User Profile in Moodle and skin it using Nightingale scheme of things.

Changing Status to "Blocked" & Assignee to @Pro-Paul to do this.

[2017-10-02 17:21] ishanivardhan commented on #10
@Pro-Paul - I'm going to change the status to "Blocked" and remove myself from the Assignee.
Please update the designs as per our today's discussion & once you have it finalised in Abstract, change the status to 'Available' & assignee to myself for me to pick this up then.

[2017-10-02 17:22] #14 closed

[2017-10-02 17:26] ishanivardhan commented on #27
Closing this issue now as the Git repository is renamed as "moodle-theme_nightingale" keeping composer requirements in mind & we have also used this convention to clone the theme for Moodle staging latest site.

We can create separate issues, if any composer requirements have still not been met & needs further work.

[2017-10-02 17:26] #27 closed, assigned to nobody

[2017-10-02 17:33] #28 closed, assigned to ishanivardhan

[2017-10-09 16:11] penpadstudio commented on #10
Login mobile and Tablet/Desktop designs are ready for feedback (please leave any comments on the abstract branch): https://share.goabstract.com/c8985cb2-48e4-46f7-bb5b-3705f0fdee89

[2017-10-19 15:54] ishanivardhan opened #41 "Progress Indicators"
Hi @cehwitham

Here's the HTML for the issue we discussed
[code]

You can find the different completion icon image paths in Staging site - moodle-staging.nhsx.uk

![screen shot 2017-10-19 at 16 51 38](https://user-images.githubusercontent.com/25176815/31780498-cf57985a-b4ed-11e7-974f-b5956aefc1cf.png)

[2017-10-25 14:03] ishanivardhan commented on #8
The course listing page has been styled & modified as per the designs from @Pro-Paul  to quite an extent but not fully yet due to Moodle constraints of not being able to customise/extend core code or trying to restrict use of too much JS wherever possible.

This is how the listing page looks so far on Local:
<img width="734" alt="Module Listing" src="https://user-images.githubusercontent.com/25176

[2017-10-25 14:05] ishanivardhan opened #42 "Pending Course Listing Tasks"
Since Course Listing is in a decent enough shape at this stage, we have decided to move on to other issues and come back to do the below TO-DO list in a separate ticket, if time permits :

- Collapsible sections & right side Forum list (just like header sub-menu)
- Completion icon as per designs rather than default Moodle squares

cc: @cehwitham

[2017-10-25 14:23] ishanivardhan commented on #37
Having checked the Forum settings, there doesn't seem to be any configurable setting to change the columns. It's just the code that prints the table headers which also sits in core file mod/forum/lib.php which is not easily customisable.

Closing this issue @cehwitham , @Pro-Paul . Please re-open if you need more info

[2017-10-25 14:23] #37 closed, assigned to ishanivardhan

[2017-10-25 14:26] ishanivardhan commented on #38
Yes,

If we go to Course > Edit Settings > Course Layout > Change it to "Show all sections on one page" then will have modules with their sections/elements all in one page.

Default Course layout setting is "Show one section on one page" and hence we have Module listing first followed by each section/element listing.

Closing this issue @cehwitham , @Pro-Paul . Please re-open if you need more info

[2017-10-25 14:26] #38 closed, assigned to ishanivardhan

[2017-10-25 14:41] ishanivardhan commented on #33
Yes,

IF we go to Site Admin > Themes > Theme Settings > Enable "Allow user themes" > Save

Then users could go to their Profile > Edit Profile > Preferred Theme > Select an alternate theme.

This way the rest of the users would see the Site theme & the specific user would see the theme he/she selected.

IF we dont want to give all users this option, then the other alternative is to enable "Allow

[2017-10-25 14:41] #33 closed, assigned to ishanivardhan

[2017-10-26 12:15] #8 closed

[2017-10-31 13:36] ishanivardhan opened #44 "Pending items on Course View page"
As per original designs, it would be nice to have an entire Course Index listing on the right of every course activity view page but this needs quite a bit of work & time and hence will be pursued as a separate ticket towards the end if time permits OR in the next version

See below design for reference:
![Original Course View design](https://user-images.githubusercontent.com/25176815/32226408-708

[2017-10-31 14:12] ishanivardhan commented on #9
I have managed to finish the basic Course View page for different types of activities we tend to have (Page/Journal/Video/Feedback).

As part of the design, things styled are
- 2-column layout for Course View page
- Navbuttons
- Blocks positioning on Right
- Video player (although the light background overlay would only show if we dont have a default poster image)
- Tabs

The course index listing

[2017-10-31 15:00] cehwitham commented on #44
Thank you for the update @ishanivardhan. Could you share some of the complexities around why this will take lots of work please? I think as you say, it's sensible if we don't let this hold up the v1.0 release.

[2017-10-31 15:18] ishanivardhan commented on #44
Yes @cehwitham ,
- Basically, the current course index listing logic cannot be picked up as is to serve the design. Possibly a separate function needs to be built that only has the bits we need as per the design and this could be tricky given the logic sits in various course renderer & course format renderer functions that needs to be extended or invoked in the right manner.

- Style wise as well,

[2017-10-31 17:36] penpadstudio commented on #44
As stated in requested review my feedback:

![32232217-79e2e67a-be4f-11e7-922e-8d654d8611a1](https://user-images.githubusercontent.com/23170050/32239022-47b36f78-be61-11e7-9638-bc19bdd5a7dc.png)

**Better to see if we can swap complete button for checkbox when we can**

![32232234-81a9db02-be4f-11e7-8e9c-7d61523d643d](https://user-images.githubusercontent.com/23170050/32239069-7271dd62-be61-11e7-9

[2017-11-01 16:21] #9 closed

[2017-11-03 13:36] ishanivardhan commented on #10
Due to more control over core login templates in our theme folder, the login page has got most of the styling bits of Nightingale as is with very few minor aesthetic pieces undone such as red border around input boxes in case of error & little crosses 'x' at the end of input fields.

This is due to our limited usage of JS and some bits of functionality sitting in core needed to modify this. (Can b

[2017-11-03 13:53] cehwitham commented on #10
@Android63 can you show @ishanivardhan how you implemented HTML5 offline content for the cookie bar in WordPress please?

[2017-11-03 15:44] #10 closed

[2017-11-08 17:24] ishanivardhan opened #47 "Course Cards Revisit"
Having worked on Course Cards in [Issue 34](https://github.com/NHSLeadership/moodle-theme_nightingale/issues/34), there was a need for separate Issue to pursue following things:

- Ability to upload Course Title image
- Design & implementation for what Course cards should look like with/without background image &  course title image

- The "transform" property used in `c-media__emblem` CSS class f

[2017-11-08 17:28] ishanivardhan commented on #34
As per the description, have completed the Home page styling for v1.

The course card blocks may need a bit of work in future versions. New Issue created [here](https://github.com/NHSLeadership/moodle-theme_nightingale/issues/47)

Course Cards currently were built by
- Applying Nightingale CSS as much as possible
- Uploading raw background image in Course Settings > Course Summary files and giving

[2017-11-16 17:03] ishanivardhan opened #49 "Dashboard Research"
This ticket is to pursue the design of Moodle Nightingale theme Dashboard based on it's usage & some further research and design work.

Any items signed off from then onwards would be included in the build for future versions.

cc: @cehwitham @Pro-Paul

[2017-11-16 17:04] ishanivardhan commented on #7
As per our discussions from Oct 2 (above comment), have mostly retained Moodle layout but with Nightingale styling for now

Due to Moodle’s core template not having course background image for course cards in Dashboard area & having a progress wheel instead of a bar — I have styled it accordingly without changing the layout for v1.0 atleast.

Will pursue any pending tasks for Dashboard with modifi

[2017-11-20 14:22] #7 closed

[2017-11-20 14:30] ishanivardhan commented on #41
@cehwitham - I'm not sure if this issue holds any relevance now and if you were going to pick this up? For now, the course listing items have been styled as per Moodle layout & Nightingale styles.

Feel free to close or rename it or create new one. Thanks!

[2017-11-20 14:49] cehwitham commented on #41
@ishanivardhan I think we've moved on from this and can pick up changes in future versions? Happy for you to close if you agree.

[2017-11-20 14:51] ishanivardhan commented on #41
Fair enough! @cehwitham

[2017-11-20 14:51] #41 closed, assigned to cehwitham

[2017-11-21 12:36] ishanivardhan commented on #40
- Logic added & link updated to Corp Website for Cookie ribbon & footer link
- Fixed a logo alignment issue on login page.

Raising a PR for this @cehwitham

[2017-11-21 12:47] ishanivardhan commented on #13
@Pro-Paul - I see this design for User Profile page in Abstract. Is this correct?

![User-Profile-Design](https://user-images.githubusercontent.com/25176815/33072980-56960cea-ceb9-11e7-983d-1168ca26842b.png)

If yes, then this is not exactly in line with existing Moodle User profile page and doesn't have all the elements that we need styling to complete this page.

Existing Moodle profile page
![M

[2017-11-21 15:59] ishanivardhan commented on #24
Adding some more fixes as part of this ticket.

- Add height to Prev button from Navbutton plugin
- Change “Rate topic” heading from blue to default nightingale heading styles
- Space between Move/Pin bans on Forum page
- New reply indentation

*Please note* the header link alignment fix is temporary until Harry adds a permanent one in Nightingale repo itself.

[2017-11-21 16:37] ishanivardhan commented on #24
Also fixed "Add a block" missing & Navbuttons plugi (both configuration issues) on Staging directly. Noting it here for reference.

[2017-11-22 12:16] ishanivardhan commented on #24
Pushing this for PR!

[2017-11-22 13:00] #34 closed, assigned to ishanivardhan

[2017-11-23 15:51] #24 closed, assigned to ishanivardhan

[2017-11-23 15:51] #40 closed, assigned to ishanivardhan

[2017-11-24 10:18] ishanivardhan opened #53 "Play button in Video player"
An issue cropped up while testing:
If we apply play button & it's parent div Nightingale classes - it starts the video but then play button stay in centre instead of disappearing itself. Also the bottom controls of "Pause,Forward,Rewind,Full screen" stops to work.

This issue is despite of retaining the native classes. Need to look & fix this so it has Nightingale styles but the functionality rema

[2017-11-24 16:06] ishanivardhan commented on #44
As per feedback from @adamref , few things he suggested that could improvise Participant flow/experience:

1. **Mark complete** & **Mark incomplete** buttons are both in green with just text change. Could do with background color change for one of them.
@Pro-Paul - your input required. A change to make it checkbox is not advisable for now as this is part of a plugin, not theme. But you could sugge

[2017-11-27 14:49] penpadstudio commented on #44
If we change the buttons to the following visual format (similar to forums):
![screen shot 2017-11-27 at 14 46 46](https://user-images.githubusercontent.com/23170050/33272369-de95369e-d381-11e7-82f1-6a6e9a9a87d4.png)

Then we can possibly keep the completion button in green above and aligned right temporarily.

Also thanks @adamref for the input on boxing the modules, maybe we can implement this i

[2017-11-27 16:17] ishanivardhan opened #54 "Remove Navbuttons from Forums"
Based on walk-through with @Pro-Paul , it was discussed that Prev & Next button is not required within Forum as forums are treated as independent entity and not part of course.

Although, they are part of the course, Forums have been placed in right section so they dont take away from essence of the course topics, the main learning content. So no Navbuttons are required in this case.

cc: @cehwith

[2017-11-27 16:21] ishanivardhan opened #55 "Fix Forum indentation bar on replies to parent post"
From the walk-through session with @Pro-Paul , we noticed that the responses to first post are indented but missing the grey bar. This needs to be added.

cc: @cehwitham

[2017-11-27 16:59] ishanivardhan commented on #54
This is fixable by editing Navbuttons Plugin settings

Go to Site Admin > Plugins >Plugins Overview > Search for Navbuttons > Settings

Change "Never show" for Forums > Save changes

The buttons would then not show for forums in the course.

[2017-11-27 16:59] #54 closed, assigned to ishanivardhan

[2017-11-27 17:06] ishanivardhan commented on #39
Raising a PR for this!

[2017-11-28 10:24] ishanivardhan commented on #55
Raising a PR for this!

[2017-11-28 10:47] ishanivardhan commented on #36
Raising a PR for this!

[2017-11-28 16:12] #36 closed, assigned to ishanivardhan

[2017-11-28 16:12] #55 closed, assigned to ishanivardhan

[2017-11-28 16:13] #39 closed, assigned to ishanivardhan

[2017-11-30 16:23] ishanivardhan commented on #30
@cehwitham - Do we know when Harry can get this built in Nightingale as both Wordpress & Moodle would need it?

[2017-11-30 16:23] ishanivardhan commented on #13
@Pro-Paul - any update on this?

[2017-12-01 12:19] ishanivardhan commented on #30
Any update @cehwitham ?

[2017-12-01 12:39] ishanivardhan commented on #53
Moodle's internal Video JS plugin has lots of layers of CSS which breaks at some point when we add our Nightingale despite of retaining existing classes thus breaking the controls of Pause/Rewind/Full screen after the video starts playing.

This is trickier and more time-consuming than anticipated and will require looking into in future versions. For now, have simply removed our styles to revert t

[2017-12-01 12:41] ishanivardhan opened #59 "Video plugin Styling"
As noted in previous [Video player issue](https://github.com/NHSLeadership/moodle-theme_nightingale/issues/53), we need to investigate and cater Nightingale styles to best suit Video player used in Moodle such that it's styled but has the functionality intact.

cc: @cehwitham , @Pro-Paul

[2017-12-04 16:35] Android63 opened #61 "Use cookies script in Nightingale folder."
Since nightingale now has a cookies.js file, use that instead of the script in the Moodle theme.

[2017-12-06 15:59] #53 closed, assigned to ishanivardhan

[2017-12-07 13:54] ishanivardhan commented on #61
From the discussions in PR of this ticket, it's been decided to show Cookie banner on all pages as otherwise the user can easily bypass it on Login page without dismissing it. Creating a new issue to get this change introduced!

[2017-12-07 13:54] #61 closed, assigned to Android63

[2017-12-07 13:55] ishanivardhan opened #63 "Cookie Banner on all Pages"
Based on discussion in PR of [this](https://www.gettingpersonal.co.uk/gifts/engraved-card-holder.htm) ticket, it's been decided to show Cookie banner on all pages until dismissed by the user.

This way users can't breach Cookie policy dismissal as a normal or guest user.

cc: @cehwitham

[2017-12-07 16:06] ishanivardhan commented on #63
Raising a PR for this!

[2017-12-07 16:19] #63 closed, assigned to ishanivardhan

[2017-12-07 17:21] ishanivardhan opened #65 "Assignment Pages Design"
Hi @jdbrew , @cehwitham

In @Pro-Paul 's absence I would like to know your viewpoint on design perspective for Assignment pages.

- This includes what Assignment pages/screens would a student come in contact with?
- How we can tidy up those Assignment pages in absence of a specific design?

Please login to Moodle Staging site for your reference to see the existing state of Assignment pages that ne

[2017-12-07 17:22] ishanivardhan commented on #44
@jdbrew , @cehwitham - Need your view on whether or not we should have course listing index on every course element page?

[2017-12-11 11:26] jdbrew commented on #44
@ishanivardhan Let's research it for post v1.

Seacole 1 had it and it wasn't a great experience and impacted load times and accessibility. No programme since has had it. We've tried to stick to the GDS principle of one thing per page. If we want to add it back in let's show that the new design evaluates well against needs without impacting the existing page needs.

[2017-12-11 11:27] ishanivardhan commented on #44
Fair enough! Thanks for your input @jdbrew .. I'll move this in Icebox and come back to it when we discuss post v1 sprint planning to take up on priority.

[2017-12-11 11:44] jdbrew commented on #65
@ishanivardhan
There are a few different assignment pages in Moodle I think. The one in question is the TurnItIn activity.

I'd emulate the structure of the one on Anderson for now.

The design patterns used are tabs, tables, pagination and icons which are all in the framework.

Our test user (FT) is seeing the activity from a tutor perspective some how.

There should be as first importance a sing

[2017-12-12 15:55] ishanivardhan commented on #13
Since @Pro-Paul is on leave and we didn't have an updated design for User Profile page & related pages, have simply styled them using Nightingale structure.

Tried to spend a bit of time modifying the layout of the page so the structure could look different than default Moodle. But since all code sits in core lib file `lib/myprofilelib.php`, any attempts to make a copy of it failed and hence retai

[2017-12-12 16:12] ishanivardhan opened #67 "Change styling for Navigation Buttons"
Based on review & feedback session from various team members, it was decided to change the button styling for Navigation buttons.

'Mark Complete' button can remain as is with that being the only central action to perform on page.

Prev & Next buttons needs to look like this
![navbtns](https://user-images.githubusercontent.com/25176815/33894949-28f60764-df57-11e7-9500-e4624937686f.png)

cc: @cehwi

[2017-12-12 16:17] ishanivardhan opened #68 "Nitty-gritty fixes site wide"
Based on review-feedback session from various members of the team, following list of fixes have cropped up so far. More can be added as we go along

* Change dot color of Forum subscription from Blue/Grey to Green/Grey to keep things consistent across site
* Mobile version introduces extra link below 'Home' link in footer that needs removing
* Remove white space on Forum & other pages as applicabl

[2017-12-14 11:33] #13 closed

[2017-12-14 16:35] ishanivardhan opened #69 "Assignment Pages Styling"
**Current Assignment pages look like this for Admin/Teacher**

![Turnitin Assignment Tab3](https://user-images.githubusercontent.com/25176815/33990224-17fd6c92-e0c2-11e7-9bc5-18d96baa862c.png)

![Turnitin Assignment Tab2](https://user-images.githubusercontent.com/25176815/33990223-17d49fce-e0c2-11e7-9787-7068d40ec980.png)

![Turnitin Assignment Tab1](https://user-images.githubusercontent.com/25176

[2017-12-14 16:52] ishanivardhan commented on #65
Based on the feedback and walking through current assignment pages, comparing with local VC pages, there are a list of things to be pursued in order to get functional part of Assignment pages in shape & working.

Noting them in a separate [ticket](https://github.com/NHSLeadership/moodle-theme_nightingale/issues/69)

[2018-01-05 15:09] ishanivardhan commented on #67
Raising a PR for this!

(Modified Navbuttons plugin update which can be seen in https://github.com/NHSLeadership/moodle-navbuttons/issues/2 to adopt to above styling)

[2018-01-05 15:43] #67 closed, assigned to ishanivardhan

[2018-02-13 13:28] ishanivardhan commented on #69
@cehwitham - all the above bits done. Raising a PR for this.

[2018-02-28 15:34] ishanivardhan opened #72 "Issues/Enhancements from Review call"
From the review call for new K8s Base Local Staging VC, here are the list of issues/enhancements to be fixed:

- [ ] Login placeholder to be changed (check with @Pro-Paul on what it should be)
- [ ] Move Forums at the top (Check this doesnt break or hide anything else; In future, if it can be configurable position wise OR hidden)
- [ ] Check if Forums heading on Home page can be changed to "Site P

[2018-02-28 16:55] franklinrosalind commented on #72
- [ ] Dashboard link results in an error
- [ ] "How's your system" shouldn't be a link?
- [ ] JavaScript test says off but it's on
- [ ] Only the Javascript system check displayed for me
- [ ] Mark complete / incomplete should use a different button style in my opinion, thoughts @Pro-Paul ?
- [ ] There's a key icon over the Mary Seacole programme title on the course listing?
- [ ] Forum links have

[2018-02-28 16:56] cehwitham commented on #72
- [ ] Dashboard link results in an error
- [ ] "How's your system" shouldn't be a link?
- [ ] JavaScript test says off but it's on
- [ ] Only the Javascript system check displayed for me
- [ ] Mark complete / incomplete should use a different button style in my opinion, thoughts @Pro-Paul ?
- [ ] There's a key icon over the Mary Seacole programme title on the course listing?
- [ ] Forum links have

[2018-06-15 09:55] cehwitham opened #74 "Bullet points don't show in lesson content"
https://hlmfacilitators.nhsx.uk/mod/lesson/view.php?id=2286

Above is an example of a bullet list in lesson content where the actual bullet points don't display.

`li {
    list-style: none;
}`

Should be changed to

`li {
    list-style: disc;
}`

I believe.

[2018-06-18 11:35] ishanivardhan opened #75 "Quiz with matching question"
As per request from HLM VC, the current template of quiz with matching question style looks like below

![screen shot 2018-06-15 at 12 56 05](https://user-images.githubusercontent.com/25176815/41533805-00efe844-72f4-11e8-8a41-9567a5b2aa0c.png)

Need to make it more like this

![screen shot 2018-06-15 at 12 55 59](https://user-images.githubusercontent.com/25176815/41533821-08786aa0-72f4-11e8-8cd0-2

[2018-06-19 13:13] ishanivardhan opened #76 "Course Box enhancements for HLM VC"
Taking reference from HLM VC,

- [x]  On the course listing, each lesson is “[lesson name] lesson” and we don’t want it to automatically put “lesson” on the end.
- [x] On the programme listing it outputs “Teacher: Tilly Regan” and “Teacher: Betsy Varghese” which we need to remove

cc: @cehwitham

[2018-06-19 16:30] ishanivardhan commented on #74
Pushing for PR.

[2018-06-19 17:07] ishanivardhan commented on #76
Pushing for PR!

[2018-06-19 17:53] ishanivardhan commented on #75
Pushing for PR!

[2018-06-20 09:00] Android63 opened #80 "Tidy up JS"
Load different types of JS as defined in Nightingale https://github.com/NHSLeadership/nightingale/issues/191

[2018-06-20 09:04] cehwitham opened #81 "Quiz module styling"
* [x] Remove grey and blue background colours
* [x] Make "Question 2" a heading style
* [x] Previous page should be a secondary button
* [x] Add spacing between "Previous page" and "Finish attempt..." buttons
* [x] Does it make sense having the previous/next activity links on these pages? It feels like we have two sets of forward/back nav on this page?
* [x] Remove dropshadow type styling from the

[2018-06-20 10:31] #74 closed, assigned to ishanivardhan

[2018-06-20 12:50] #76 closed, assigned to ishanivardhan

[2018-06-20 12:51] #75 closed, assigned to ishanivardhan

[2018-06-22 14:26] cehwitham opened #82 "Answer box not constrained by container in lesson on HLM Campus"
https://hlmfacilitators.nhsx.uk/mod/lesson/view.php?id=2285&pageid=122

![screen shot 2018-06-22 at 15 21 44](https://user-images.githubusercontent.com/2518941/41781862-76c13eb2-7630-11e8-866b-e2b2e4b1e992.png)

The short answer / essay box is not constrained by the content container and runs off the edge of the screen. Should fill the content column.

[2018-06-22 14:27] cehwitham opened #83 "Audio player displays white on white whilst playing"
The audio player also seems to have an odd float and sits outside of the content column.

https://hlmfacilitators.nhsx.uk/mod/lesson/view.php?id=2285&pageid=123

![screen shot 2018-06-22 at 15 27 18](https://user-images.githubusercontent.com/2518941/41781963-c42d59a6-7630-11e8-96b9-cdb14a31bb51.png)

[2018-06-22 14:29] cehwitham opened #84 "Error message styling amendment"
To recreate, visit a lesson with a short answer question in it. Submit without entering any text in the WYSIWYG window.

The error message should have a notification panel style and the continue button needs primary styling.

https://hlmfacilitators.nhsx.uk/mod/lesson/continue.php

![screen shot 2018-06-22 at 15 28 10](https://user-images.githubusercontent.com/2518941/41782079-13d7aad8-7631-11e8-9

[2018-06-27 16:08] ishanivardhan commented on #83
@cehwitham - What's the default background color we are expecting for Audio clips? I guess I had worked on video players to some degree upto which Moodle allowed me to, audios got left out as there wasn't a use-case for me to test or check them.

@Pro-Paul - Any thoughts?

[2018-06-27 16:24] ishanivardhan commented on #82
Raising PR for this!

[2018-06-27 16:56] ishanivardhan commented on #81
@cehwitham - For pt[4], I can edit the Navbuttons settings for HLM course to not show for Quiz activity. Will that help?

[2018-06-27 16:58] ishanivardhan commented on #81
Also @cehwitham , I have removed the dropshadow but they seem to have lost their button-look. is this what you want?
<img width="749" alt="screen shot 2018-06-27 at 17 58 29" src="https://user-images.githubusercontent.com/25176815/41988362-bac9d112-7a33-11e8-84bd-94fc877bac02.png">

[2018-06-27 16:59] ishanivardhan commented on #81
Raising a PR!

[2018-06-27 17:58] ishanivardhan commented on #84
Hi @cehwitham , the markup beneath this message has a selector `text_to_html` and not any error/warning classes around it hence it showed up as normal text. I have added blue card information styling.

The "Continue" button's markup by default has `btn btn-secondary` core classes attached to it, hence the styling of secondary button. Looking at the markup, there is no way to distinguish or use par

[2018-06-28 08:59] ishanivardhan commented on #84
Raising a PR for now with what it will look like. Any further changes will be incorporated a spart of the PR review.

[2018-06-28 09:05] #69 closed, assigned to ishanivardhan

[2018-06-28 09:09] ishanivardhan commented on #80
@Android63 - Can you elaborate more on what needs to be done in this issue? I can see that Harry added JS snippets and included JS files at a couples of places in above referenced issue. Do we need to simply mimic that in our code?

[2018-06-28 09:32] Android63 commented on #80
Yes @ishanivardhan. We need to follow Harry's example so our JS gets loaded at the optimum moments.

[2018-06-28 11:53] ishanivardhan commented on #65
Closing this ticket as the query was answered by Jason and acted upon in the above ticket. any further enhancements can be pursued in a new ticket as required.

[2018-06-28 11:53] #65 closed, assigned to jdbrew, cehwitham

[2018-06-28 13:08] penpadstudio commented on #83
Not sure what the question is here @ishanivardhan can you clarify please? On a side note we do not have a design format for audio in Nightingale v1. I originally put some designs in but they were removed as collectively agreed that it was not a priority for building and deploying the framework quickly if you remember.

[2018-06-28 13:13] ishanivardhan commented on #83
@Pro-Paul - Just need your suggestion on what the audio player should look like when played & even before playing? If we do not have a design format, do we need one that I can follow OR if that's going to take some time & thinking, can you suggest something vaguely that I could put so it's not white on white whilst playing?

cc: @cehwitham

[2018-06-28 13:17] #84 closed, assigned to ishanivardhan

[2018-06-28 13:18] #81 closed, assigned to ishanivardhan

[2018-06-28 13:18] #82 closed, assigned to ishanivardhan

[2018-06-29 09:26] penpadstudio commented on #83
@ishanivardhan As I just said We have designs for audio but they are not built in framework due to prior being collectively agreed to drop for v1.

My suggestion is to use the default player. ( what do you mean white on white, maybe some visuals to help understand what you mean please) Thanks

[2018-06-29 14:49] ishanivardhan opened #87 "Accessibility Issues"
@jdbrew , @Pro-Paul , @cehwitham - Pls contribute to this ticket to address any accessibility issues within the theme.
Feel free to remove yourselves from the assignee list once you have contributed from your end & assign/tag others as necessary. Thanks!

[2018-07-03 13:33] ishanivardhan opened #88 "More HLM issues to fix"
Here's a pending list of issues/queries Tilly has that needs fixing:

- [x] Part 1 > Healthcare Leadership Model – The Model > The importance of context
Is there any way we can have all text linked right beside the boxes, rather than the text showing up below some of the boxes?
![image005](https://user-images.githubusercontent.com/25176815/42091332-e8e0e97c-7b9c-11e8-9cd8-d14d55ceaa96.jpg)

- [x]

[2018-07-04 12:49] ishanivardhan commented on #88
Raising a PR!

[2018-07-04 15:36] #88 closed, assigned to ishanivardhan

[2018-07-16 14:22] penpadstudio commented on #15
@ishanivardhan @cehwitham Can this issue be closed and re-opened after v1.0?

[2018-07-16 14:34] penpadstudio commented on #30
@ishanivardhan @cehwitham Was this implemented? Can we close the issue?

[2018-07-16 14:36] ishanivardhan commented on #15
Yes @Pro-Paul - It depends on the extent of usage of this feature. Closing it now. Lets re-open later with more details if work needs to be done on it.

[2018-07-16 14:36] #15 closed

[2018-07-16 14:36] penpadstudio commented on #35
@ishanivardhan not really understanding this best to have some visual aid to help please.

[2018-07-16 14:47] ishanivardhan commented on #30
I think @Android63 or Harry definitely did some thing but I haven't included or worked that in for Moodle theme. This one;s for me.

[2018-07-16 14:50] ishanivardhan commented on #35
<img width="703" alt="screen shot 2018-07-16 at 15 48 05" src="https://user-images.githubusercontent.com/25176815/42765332-b0744dc4-890f-11e8-902e-dcfeccf0dffc.png">

If you click on Profile button ,you'd see Learning Plans link. When you click on it, it takes to another page as below:

<img width="933" alt="screen shot 2018-07-16 at 15 48 15" src="https://user-images.githubusercontent.com/2517681

[2018-07-18 07:35] cehwitham commented on #35
@ishanivardhan might the Learning Plans feature be useful? Or is this more likely to be useful to people who are taking multiple courses.

[2018-07-19 15:30] ishanivardhan opened #90 "IE 11 does not show activity name"
As reported from HLM site, the course listing page doesn't show Activity titles and the completion boxes are misaligned too.

<img width="720" alt="screen shot 2018-07-19 at 16 29 47" src="https://user-images.githubusercontent.com/25176815/42952713-fc76789c-8b70-11e8-98d2-30ad7198b467.png">

cc: @cehwitham

[2018-07-19 15:43] ishanivardhan commented on #90
Raising PR!

[2018-07-20 10:29] #90 closed, assigned to ishanivardhan

[2018-08-08 13:01] penpadstudio commented on #87
Here are some standard accessibility criteria/perspectives suggested by W3C we should be trying to meet or at least be contemplating:

- [Video Captions](https://www.youtube.com/watch?v=iWO5N3n1DXU&list=PLhDEeYUfW02QndusXXtQtuMbMYhK7TMBT&index=1)
- [Good contrasting colours](https://www.youtube.com/watch?v=Hui87z2Vx8o&list=PLhDEeYUfW02QndusXXtQtuMbMYhK7TMBT&index=2)
- [Large links, Buttons & Contr

[2018-08-09 12:26] ishanivardhan commented on #35
@cehwitham - Learning plans are useful if we have competency frameworks defined which in my knowledge most or none of our VCs have at the moment.
The best way to therefore hide the Learning Plans link from User profile page would be to remove their capability to view this. This can be done by going to

```Site Admin > Users > Permissions > Define Roles > Authenticated User > Uncheck "Allow" for "V

[2018-08-14 11:52] cehwitham commented on #35
@ishanivardhan if this isn't something we're using, let's turn it off for the local sites.

But this looks like it might be worth developing so we can use it for Anderson and Bevan?

[2018-09-03 10:54] penpadstudio opened #92 "Boost/ Nightingale Activity page default layouts"
@ishanivardhan below you will find a screenshot of proposed basic default layouts using Nightingale styles ontop of the boost theme layout. You will also find two direct access links to InVision pages layouts for both mobile and tablet/desktop. Both of these will help with giving more details needed for development requirements if you click on Inspect mode on the bottom toolbar and you can also ch

[2018-09-11 14:52] ishanivardhan opened #93 "Nightingale fixes for Aspiring Chief Exec VC"
In order to deliver Aspiring Chief Exec with Nightingale, following fixes are needed:

- [ ] Course description text overlap with Course title on Home page
- [ ] Line spacing on Course Index page not consistent
- [ ] Paragraph spacing not consistent
- [ ] Need dividers between topics (Refer Boost theme)
- [ ] Prev/Next buttons missing from course content pages

[2018-09-12 11:16] penpadstudio commented on #93
@ishanivardhan @adamref @cehwitham
Line spacing, margins and paragraphs can all be referenced from the Nightingale repo. There is also a wiki that documents what they should be: https://github.com/NHSLeadership/nightingale
Also have visual representations that can be accessed via abstract:
https://share.goabstract.com/a0def21d-951d-4b6e-af56-7a0d21fe6de7